doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 "The future home, of something awesome!"
    p Banjo cray blog pour-over trust fund chia pickled lumbersexual. Disrupt YOLO pork belly fingerstache, Etsy Bushwick authentic fashion axe small batch pug bespoke. Cred iPhone biodiesel scenester, fanny pack Schlitz yr heirloom bespoke leggings ennui chillwave selfies plaid. Kitsch bicycle rights Shoreditch, gastropub squid aesthetic listicle brunch Marfa Neutra Pinterest hella Helvetica. Small batch iPhone occupy, XOXO Brooklyn drinking vinegar Austin cardigan. Chillwave tattooed next level wayfarers Wes Anderson. Odd Future church-key small batch banjo, art party leggings artisan PBR&B Marfa lumbersexual master cleanse Wes Anderson.